{% extends 'Buyer/consumer_base.html' %}
{% block title %}
    天天生鲜-购物车
{% endblock %}
{% block min_title %}
    购物车
{% endblock %}
{% block content %}
    <div class="total_count">全部商品<em>{{ num }}</em>件</div>
    <form method="post">
    {% csrf_token %}

	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
    {% if not goods_list %}
    <div style="color: #424242; font-size: 30px; text-align: center; margin: 100px;">您的购物车是空的哦(^.^)</div>
    {% else %}
    {% for goods in goods_list %}
	<ul class="cart_list_td clearfix">
		<li class="col01"><input class="goods_check" type="checkbox" value="" name="check_{{ goods.goods_id }}" checked></li>
		<li class="col02"><img src="/static/{{ goods.goods_picture }}"></li>
		<li class="col03">{{ goods.name }}<br><em>{{ goods.goods_price }}元/500g</em></li>
		<li class="col04">500g</li>
		<li class="col05 price" id="price" value="{{ goods.goods_price }}">{{ goods.goods_price }}元</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" class="num_show fl number" value="{{ goods.goods_number }}" name="number_{{ goods.goods_id }}">
				<a href="javascript:;" class="minus fl">-</a>
			</div>
		</li>
		<li class="col07 total" id="total" style="margin-top: 0;" value="{{ goods.goods_total }}">{{ goods.goods_total }}元</li>
		<li class="col08"><a href="javascript:;">删除</a></li>
	</ul>
    {% endfor %}

	

	<ul class="settlements">
		<li class="col01"><input id="all_check" type="checkbox" name="" checked=""></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em class="clearing">0</em><br>共计<b>2</b>件商品</li>
		<li class="col04"><input type="submit" value="去结算"></li>
	</ul>
    {% endif %}
    </form>
{% endblock %}
{% block script %}
    <script src="/static/buyer/js/jquery-1.12.4.min.js"></script>
    <script>
        $('#all_check').click(
            function(){
                if(this.checked){
                    $('.goods_check').prop('checked', true)
                }else{
                    $('.goods_check').prop('checked', false)
                }
            }
        );


        $(".minus").each(
            function () {
                $(this).click(
                    function () {
                        var number = $(this).siblings("input");
                        if(number.val() < 2){
                            number.val(parseInt(number.val()));
                        }else{
                            number.val(parseInt(number.val())-1);
                            var li_p = $(this).parents().siblings("li");
                            var price = li_p[4].value;
                            var num = parseInt(number.val());
                            var re_total = price * num;
                            var out = li_p[5].value = re_total;
                            $(li_p[5]).text(out+'元');
                            var obj = $('.goods_check');
                            if(obj.attr('checked')){
                                obj.val(out);
                                console.log(obj.val())
                            }else{
                                obj.val(0)
                            }
                        }
                    }
                )
            }
        );
        $(".add").each(
            function () {
                var obj = $('.goods_check');
                var li_p = $(this).parents().siblings("li");
                var total = li_p[5].value;
                {#var total = $('.total').val();#}
                obj[0] = total;
                console.log(obj[0]);
                $(this).click(
                    function () {
                        var number = $(this).siblings("input");
                        number.val(parseInt(number.val())+1);
                        var li_p = $(this).parents().siblings("li");
                        var price = li_p[4].value;
                        var num = parseInt(number.val());
                        var re_total = price * num;
                        var out = li_p[5].value = re_total;
                        $(li_p[5]).text(out+'元');
                        var obj = $('.goods_check');
                        if(obj.attr('checked')){
                            obj.val(out);
                            console.log(obj.val());
                        }else{
                            obj.val(0)
                        }
                    }

                );
                var clearing = $(".clearing");
                var res = parseFloat(clearing.text());
                var get_clearing = res + obj[0];
                {#console.log(get_clearing);#}
                clearing.text(get_clearing);



            }
        );



        {#$('input:radio:checked').val();#}
        {#console.log($('input:radio:checked').val());#}

        {#$('.goods_check').each(#}
        {#    function () {#}
        {#        $(this).click(#}
        {#            $(this).parents().siblings(".total")#}
        {#            if($(".goods_check").prop("checked")===true){#}
        {#                console.log($(this).val())#}
        {#            }#}
        {#        )#}
        {#    }#}
        {#);#}
        $('.goods_check').each(
            function(){
                var obj = $('.goods_check');
                if(obj.attr('checked')) {
                    {#console.log(obj[0], typeof obj.val());#}

                }


                /*
                if($(this).prop("checked")===true){
                    var obj = $('.goods_check');
                        console.log(obj.val())

                }
                */
                $(this).click(
                    function(){
                        if(!this.checked){
                            $('#all_check').prop('checked', false)
                        }
                    }
                )
            }
        );
    </script>
{% endblock %}