{% extends 'Buyer/base.html' %}
{% block title %}
    商品列表
{% endblock %}
{% block content %}
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					<li>
						<a href="#"><img src="/static/buyer/images/goods/goods001.jpg"></a>
						<h4><a href="#">进口柠檬</a></h4>
						<div class="prize">￥3.90</div>
					</li>
					<li>
						<a href="#"><img src="/static/buyer/images/goods/goods002.jpg"></a>
						<h4><a href="#">玫瑰香葡萄</a></h4>
						<div class="prize">￥16.80</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="#" class="active">默认</a>
				<a href="#">价格</a>
				<a href="#">人气</a>
			</div>

			<ul class="goods_type_list clearfix">

            {% if goods_list %}

                {% for goods in goods_list %}
                    {% ifequal goods.statue 1 %}
				<li>
					<a href="/Buyer/goods/{{ goods.id }}"><img src="/static/{{ goods.picture }}"></a>
					<h4><a href="/Buyer/goods/{{ goods.id }}">{{ goods.name }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ goods.price }}</span>
						<span class="unit">{{ goods.price }}/500g</span>

                        <input type="hidden" value="{{ goods.name }}" name="goods_name" id="goods_name">
						<a href="javascripts:;"  class="add_goods" title="加入购物车"></a>



					</div>
				</li>
                    {% else %}
                    {% endifequal %}
                {% endfor %}
            {% else %}
                <div style="text-align: center; font-size: 30px;">亲,未找到您所需要的商品哟~</div>
            {% endif %}




			</ul>

			<div class="pagenation">
				<a href="#">上一页</a>
				<a href="#" class="active">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">下一页></a>
			</div>
		</div>
	</div>
{% block script %}
    <script type="text/javascript" src="/static/buyer/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/buyer/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/buyer/js/slide.js"></script>
    <script>

     $('.add_goods').click(function () {
            var value = $('#goods_name').val();
            console.log(value);
        })
    </script>

{% endblock %}
{% endblock %}