{% extends 'PShop/base.html' %}
{% block title %}
    商品信息
{% endblock %}
{% block style %}
    <script src="/static/pshop/vendor/jquery/jquery.min.js"></script>
    <script src="/static/pshop/js/vue-resource.js"></script>
    <script src="/static/pshop/js/vue.min.js"></script>

{% endblock %}
{% block content %}
    {% verbatim myblock %}
        <table class="table dataTable" id="goods_table">
            <tr>
                <th>商品名称</th>
                <th>商品价格</th>
                <th>商品数量</th>
                <th>出厂日期</th>
                <th>保质期</th>
                <th>操作</th>
            </tr>
            <tr v-for="g in goods_list">
                <td>{{ g.name }}</td>
                <td>{{ g.price }}</td>
                <td>{{ g.number }}</td>
                <td>{{ g.production }}</td>
                <td>{{ g.safe_date }}</td>
                <td>
                    <a class="btn btn-primary" style="color:white;">下架</a>
                </td>
            </tr>
        </table>
    {% endverbatim myblock %}
{% endblock %}
{% block script %}
    <script>
        Vue.use(VueResource);
        var vue = new Vue(
            {
                el: '#goods_table',
                data: {
                    'message': 'hello world',
                    'goods_list': []
                },
                created: function () {
                    this.$http.get('/PShop/Goods/').then(
                        function (data) {
                            console.log(data['data']['data']);
                            this.goods_list = data['data']['data'];
                        },
                        function (error) {
                            console.log(error);
                        }
                    )
                },
                methods: {

                }
            }
        )
    </script>
{% endblock %}