<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <button id="click">点击</button>
    <div id="response"></div>
    <script src="/static/js/jquery-1.11.0.js"></script>
    <script>
        $('#click').click(
            function(){
                var Data = {
                    'name': '老边',
                    'csrfmiddlewaretoken':'{{ csrf_token }}'
                };
                console.log(Data);
                $.ajax(
                    {
                        url:'/agd/',
                        type:'post',
                        data:Data,
                        success:function(data){
                            $('#response').text(data['result'])
                        },
                        error:function(){
                            console.log(error)
                        }
                    }
                )
            }
        )
    </script>
</body>
</html>