<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-1.11.0.js"></script>
</head>
<body>
    <form method="post" onsubmit="return check()">
        {% csrf_token %}
        <p>
            <span>用户名:</span>
            <input type="text" id="username" name="username">
        </p>
        <p>
            <span>密码:</span>
            <input type="password" id="password" name="password">
        </p>
        <p>
            <input type="submit" value="提交">
        </p>
    </form>
<p style="color: red;" id="error_message"></p>
<script>
    function check() {
        var username = $('#username').val();
        var password = $('#password').vall();
        var error_message = $('#error_message');
        if (username=='' || password == '') {
            error_message.text('用户名和密码不可为空');
            return false
        };
        if(username.length < 6 ) {
            error_message.text('用户名必须大于6位');
            return false
        };
        return true
    }
</script>
</body>
</html>